body {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
}

.cuadrado {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 5px solid #3498db; /* Color del borde */
    margin: 10px; /* Espaciado entre cuadrados */
}

.grande {
    width: 150px;
    height: 150px;
    padding: 20px; /* Espaciado interno */
}

.mediano {
    width: 100px;
    height: 100px;
    padding: 15px; /* Espaciado interno */
}

.pequeño {
    width: 70px;
    height: 70px;
    padding: 10px; /* Espaciado interno */
}
